@import "tailwindcss";

@theme {
  --color-ios-bg: #F2F2F7;
  --color-ios-card: #FFFFFF;
  --color-ios-blue: #007AFF;
  --color-ios-pink: #FF2D55;
  --color-ios-green: #34C759;
}

body {
  background-color: var(--color-ios-bg);
  @apply text-slate-900 antialiased;
  -webkit-tap-highlight-color: transparent;
}
