@import "tailwindcss";

@theme {
  --color-ios-bg: #F2F2F7;
  --color-santi-blue: #007AFF;
  --color-paty-pink: #FF2D55;
  --color-success-green: #34C759;
}

@keyframes ticker {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(-100%); }
}

.animate-ticker {
  animation: ticker 15s linear infinite;
}

body {
  background-color: var(--color-ios-bg);
  @apply text-slate-900 antialiased;
  -webkit-tap-highlight-color: transparent;
}
